body{
margin:0;
padding:0;


}
* {
    box-sizing: border-box;
  }
  


.section1{
    background-image: url('/bg.svg');
    /* background-size: 10% 95%; */
    width:100%;
    height: 100vh;
    background-repeat:no-repeat;
    
    background-size:contain;

  /* background-attachment: fixed; */
    
 

}

#solunexa-img{
width: 50%;
height: 50px;

/* padding-left: 5px; */
margin-top: 10px;

margin-left: -145px;
}


#line {
    border: 1px solid #ffffff;
    opacity: 0.8;
  }

#list{


    color: #ffffff;
    margin-top: -40px;
    padding: px;
    margin-left: 550px;
    font-size: small;
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-content: space-evenly;
  }

  
#list-itemss {
    list-style-type: none;
    padding: -10px -10px;
    margin: 12px 6px;
    align-items: flex-end;
    /* margin: 15px; */
  }
    


#list{
    color:white;
margin-right: 95px;
}


/* 2nd part */

#isometric-img {
    width: 1000px;
    height: 340px;
  }





  #main-text {
    font-weight: 200;
    color: white;
    display: ;
  }
  
  #isometric-bar {
    position: absolute;
    left: 300px;
    top: 50px;
  
    /* width: 1200px; 
    height: 200px; */
    margin: 50px;
    padding: 50px;
    margin-bottom: -80px;
  }
  
  #isometric-img {
    width: 1000px;
    height: 340px;
  }
  
  #main {
    padding-left: 180px;
    padding-top: 80px;
  }
  #h2-text {
    font-family: roboto;
    font-weight: lighter;
    font-size: 26px;
  }
  #h1-textmain {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
  }
  #button1 {
    padding-top: 15px;
  }
  
  #button3 {
    margin-top: 1px;
    margin-left: 14px;
  }


  #arrows {
    /* display: flex; */
    position: absolute;
right:290px;
    top: 420px;


    /* left: 170px;
     */
  }
  #aroow2 {
    margin-left: 15px;
  }
  /* 2nd part */
  #2img {
    top: 1000px;
    left: 500px;
    position: relative;
  }
  #3img {
    bottom: 500px;

    padding-right: 20px;
    padding: 20px;
    margin: 20px;


  }
  

/* ----------------------------------------------------------------- */

.section2{
    display: flex;
    margin: 90px;
    margin-left: 230px;
    height: 70vh;
  
}

#text2{
margin-left: 15px;
/* display:flex; */


}
#button4{
padding: 2px 24px;
margin-top: 12px;
justify-content:start;

}

/* -----------section 3-------------- */

#section3{
    height: 120vh;
    background-color:#e6ffff ;

}

#boxes{
    /* margin-top:20px  175px; */
/* padding:5px 8px; */
margin: 45px 180px 13px 125px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;


}
#box-item{
  padding: 15px 18px;
    margin:12px 0px 12px 0px;
    border: 1px solid rgb(129, 129, 224);
border-radius: 0%;

}

#h3end{
text-align: left;
color: rgb(32, 32, 40);
/* float:left; */



}
#pend {
padding-top: 10px;
text-align: left;
text-indent:0px;

}



#section4{
height: 100vh;

background-color: #e6e6ff;




}.box4{
    text-align: center;
    height: 130px;

    width: 150px;
    border: 1px solid #161616;
}
#services{
     
text-decoration-line: underline;
text-decoration-color: rgb(66, 66, 193); 
text-decoration-thickness: 3px; 
line-height: 1.8;
text-align: center;
padding: 5px;
padding-top: 100px;
font-weight: 900;
padding-bottom: 50px;


}
#hr2{

  width: 50px;
}
/* 

.box4 :hover{
  text-align: center;
  height: 100px;
  width: 100px;
  border: 2px solid #1a1a1a;
  background-color: rgb(76, 76, 204);
} */